* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/65cb6d93a08b2efa794002b6_ooo9.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  padding-top: 24px;
  background-color: white;
  border-radius: 16px;
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
#name {
  font-size: 48px;
  font-weight: 700;
  color: cornflowerblue;
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2%;
}
.input {
  width: 60%;
  outline: none;
}
.buttonAdd {
  width: 10%;
  background-color: #89cff0;
  border: none;
  border-radius: 5px;
}
.todo {
  width: 72%;
  height: 36px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.todolist {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
}
.edit {
  width: 48px;
  height: 24px;
}
.dlt {
  width: 48px;
  height: 24px;
}
.editor {
  width: 30%;
  height: 100%;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}
.stylee {
  width: 100%;
  height: 36px;
  background-color: #89cff0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.text {
  height: 100%;
  width: 35%;
  display: flex;
  padding-left: 12px;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}
.dateContainer {
  height: 100%;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  width: 35%;
}
.done {
  width: 48px;
  height: 24px;
}
button {
  background-color: #a7c7e7;
  outline: none;
  border: none;
  border-radius: 3px;
}
.editInput {
  outline: none;
  border-radius: 8px;
}
.editEditor {
  display: flex;
  gap: 8px;
  margin-top: 6px;
  justify-content: center;
}
